* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    background: #fff url(./assets/nav-fundo.png) repeat-x;
}
body.home #navbar #home,
body.brasil #navbar #brasil,  
body.internacional #navbar #internacional,
body.economia #navbar #economia,
body.saude #navbar #saude,
body.ciencia #navbar #ciencia,
body.fotos #navbar #fotos {
    background-color: #de003e;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
a:link , a:visited {
    color: black;
}
label {
    cursor: pointer;
    display: block;
}
#container {
    width: 800px;
    margin: 0 auto;
}
/*Cabeçalho*/

#header .noticias-cidade-logo {
    display: block;
    float: left;
    padding-top: 20px;
}
#header .brasil-logo {
    display: block;
    float: right;
}
#header #navbar ul li {
    float: left;
}
#header #navbar ul li:hover {
    background-color: #fff;
}
#header #navbar ul li a{
    font-size: 0.9em;
    padding: 0.5em 1.5em ;
    display: block;
    color: #fff;
    line-height: 2.1em;
    font-weight: 700;
    background: url(./assets/divisor.png) repeat-y left center ;
}
#header #navbar ul li a:hover{
    color: rgb(136, 5, 5);
}
#header #navbar ul {
    margin-top: -55px;
    float: left;
    margin-bottom: 90px;
    background-color: rgb(136, 5, 5);
}
/*Conteúdo Principal*/
#main {
    clear: both;
    float: left;
    width: 100%;
    
}
.fundo-branco {
    background-color: #fff;
    padding: 10px;
}
#main h1{
    font-size: 1.3em;
    color: #fff;
    background-color: #2c4c74;
    padding: 5px;
    margin-bottom: 10px;
}
#main.fotos h1 {
    font-size: 1.3em;
    color: #fff;
    background-color: #2c4c74;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}
#main #barra-lateral-esquerda {
    float: left;
    width: 200px;
    padding: 10px;
}

#main #barra-centro{
    float: left;
    width: 270px;
    padding: 10px;
}
#main #barra-lateral-direita {
    float: left;
    width: 270px;
    padding: 10px;

}
#main #barra-centro.fotos{
    float: left;
    width: 47%;
    padding: 10px;
}
#main #barra-lateral-direita.fotos {
    float: left;
    width: 48%;
    padding: 10px;

}
#main #barra-lateral-esquerda #entrevistas,
#main #barra-lateral-esquerda #news,
#main #barra-centro #ultima-entrevista,
#main #barra-centro #mundo,
#main #barra-lateral-direita #destaque,
#main #barra-lateral-direita #noticias-recentes {
    background: url(./assets/fundo-caixa.png);
    padding: 5px;
}

/*Barra lateral esquerda*/
#entrevistas ul {
    padding: 10px;
}
#entrevistas ul li{
    font-size: 0.9em;
    padding-bottom: 10px;
    line-height: 30px;
}
#entrevistas ul a{
    font-weight: 600;
}

#entrevistas ul a:hover{
    padding-left: 20px;
    background: url(./assets/marcador.png) no-repeat left center;
    color: #a4a4a4;
}
#news, #mundo, #noticias-recentes{
    margin-top: 10px;
}
#news form {
    padding: 10px;
}
#news input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
}
#news input.submit {
    width: 80px;
    color: #fff;
    background-color: rgb(136, 5, 5);
    border: 2px solid #870529;
    margin-top: 5px;
}
/*Barra do centro*/
#ultima-entrevista h4 {
    padding: 5px;
    font-weight: 800;
    font-size: 16px;
    display: inline;
    background-color: rgb(189, 23, 23);
}
#ultima-entrevista img{
    width: 100%;
    margin-top: 10px;
}
#ultima-entrevista span {
    font-weight: 600;
}
#ultima-entrevista a{
    color: red;
    text-decoration: underline;
    font-weight: 700;
}

#mundo .post img{
    width: 33%;
}
#mundo a{
    display: block;
    border: 1px solid #fff;
    margin-bottom: 10px;
}
#mundo a:hover{
    background-color: #eee;
}

#mundo img {
    float: left;
    margin-right: 10px;
}

#mundo .post .titulo{
    display: block;
    color: blue;
    font-size: 12px;
    margin-left: -30px;
}
#mundo .post .frase {
    font-size: 12px; 
}
#mundo.fotos {
    clear: both;
    width: 100%; 
}
#mundo.fotos.post {
    padding: 5px;
}
#mundo.fotos img {
    width: 10%;
    padding: 5px;
    float: left;
}
#mundo.fotos span {
    color: blue;
    font-weight: 600;
}


/*Barra lateral direita*/
#destaque h4 {
    color: #fff;
    padding: 5px;
    font-weight: 800;
    font-size: 14px;
    display: inline;
    background-color: rgb(189, 23, 23);
}
#destaque img{
    margin-top: 10px;
    width: 100%;
}
#destaque span {
    font-weight: 600;
}
#destaque a{
    color: red;
    text-decoration: underline;
    font-weight: 700;
}
#noticias-recentes .post img{
    width: 33%;
}
#noticias-recentes a{
    display: block;
    border: 1px solid #fff;
    margin-bottom: 10px;
}
#noticias-recentes a:hover {
    background-color: #eee;
}

#noticias-recentes img {
    float: left;
    margin-right: 10px;
}

#noticias-recentes .post .titulo{
    display: block;
    color: blue;
    font-size: 12px;
    margin-left: -30px;
}
#noticias-recentes .post .frase {
    font-size: 12px;
    
}
/*Rodapé*/
#footer {
    clear: both;
    background: #294c71;
    padding: 20px;
    text-align: center;
    min-width: 800px;
}
#footer h3{
    color: #fff;
    margin: 0 auto;
}
